nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
            .sb-sidenav-menu-heading
                | Posts
        
            a.nav-link(href='/admin/posts')
                .sb-nav-link-icon
                    i.fas.fa-list-alt
                | Listado de posts
            a.nav-link(href='/admin/posts/new')
                .sb-nav-link-icon
                    i.fas.fa-file-alt
                | Crear post
                
            .sb-sidenav-menu-heading
                | Users
            a.nav-link(href='#')
                .sb-nav-link-icon
                    i.fas.fa-list-alt
                | Listado de usuarios
            a.nav-link(href='#')
                .sb-nav-link-icon
                    i.fas.fa-user-alt
                | Crear usuario

            .sb-sidenav-menu-heading
                | Ajustes
            
            a.nav-link(href='#')
                .sb-nav-link-icon
                    i.fas.fa-chart-area
                | Editar perfil

            a.nav-link(href='#')
                .sb-nav-link-icon
                    i.fas.fa-chart-area
                | Mis posts    
                
            a.nav-link(href='#')
                .sb-nav-link-icon
                    i.fas.fa-sign-out-alt
                | Cerrar sesión
                        
    if username
        .sb-sidenav-footer
            .small Has accedido como:
            h6= username
