footer.py-4.bg-light.mt-auto
    .container-fluid
        .d-flex.align-items-center.justify-content-between.small
            .text-muted
                | Blog 2021
            div
                a(href='#') Política de privacidad
                | 
                | &middot;
                | 
                a(href='#') Términos y condiciones
