block scripts
    //- Load jQuery
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js', crossorigin='anonymous')
    //- Load Bootstrap JS Bundle
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js', crossorigin='anonymous')
    //- Load Global Template Scripts
    script(src='/javascripts/scripts.js')
